/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  background: #faf;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.tail {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  background: #505;
}