/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  background: #faf;
}

h1.crown {
  font-style: italic;
  color: #373fff;
}

.tail {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: #505;
  color: #faf;
  box-sizing: border-box;
  padding: 10px;
}

.tail .glitchButton .glitchButtonElement {
  background: url(https://glitch.com/edit/images/background-dark/icons/down-arrow.svg);
  transform: rotate(150deg);
  padding: 5px;
}

.tail .glitchButton .glitchOpenWindowElement {
  bottom: 100%;
  top: initial;
  border-radius: 0;
  border: 0;
  transform: rotate(-30deg);
}
.tail .glitchButton .tooltip.border {
  border-bottom: 0px;
  border-top: 10px solid #faf;
  bottom: -11px;
  top: initial;
  right: 170px;
}
.tail  .glitchButton .tooltip.fill {
  display: none;
} 